@import "../node_modules/primer-css/scss/variables";
@import "../node_modules/primer-css/scss/mixins";

// Basecoat
@import "../node_modules/primer-css/scss/layout";

// Centers content horizontally. Can be used inside or outside the grid.
.centered {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}
